.contact-page{
    .contact-page-add{
        position: fixed;
        right: 0;
        bottom: 0;
        cursor: pointer;
        img{
            height: 70px;
            width: 70px;
            margin: 20px;
            outline: none;
        }
    }
}