.move-preview{
    font-size: 22px;
    color: white;
    border: 1px solid white;
    // width: 220px;
    
    .move-preview-to{
        border-bottom: 1px solid white;
        h4{
            margin: 10px;
            margin-left: 10px;
            
        }
    }

    p{
        // font-weight: 800;
        margin-left: 10px;
        color: #00ff2b;


    }
}