<div class="home" *ngIf="user">
  <h1>Hello {{ user.name }}</h1>
  <!-- <div class="home-coins">
      <p>Coins : {{ user.coins }}</p>
    </div> -->
    <div class="home-bit">
        <img src="../../../assets/img/bitcoin.png" alt="" />
        <p>
            BTC :
            <span
            >{{ numberWithCommas(user.coins) }} | USD :
            <span>{{ numberWithCommas(user.coins * rateFloor) }}$</span>
        </span>
    </p>
</div>

<div class="home-bit2">
    <!-- <p>Corrunt BTC-USD:</p> -->
    <img src="../../../assets/img/coins.png" alt="" />
    <p>1&#8383; =  ${{ numberWithCommas(rateForDisplay) }}</p>
  </div>

  <move-list [moves]="user.moves"></move-list>
</div>
