.contact-details{
    .contact-img{
        width: 100px;
        height: 100px;
    }
    p{
        font-size: 20px;
        margin-left: 10px;
        color: white;
    }
    button{
        border: none;
        padding: 8px;
        margin: 10px;
        outline: none;
        background-color: rgb(155, 155, 155);
        width: 70px;
        
        &:hover{
            cursor: pointer;
            color: white;
        }
        
    }
    
    .contact-details-transfer{
        input{
            border: none;
            padding: 7px;
            background-color: rgb(228, 228, 228);
            width: 300px;
            outline: none;
        }
        button{
            padding: 7px;
            margin: 0;
        }
    }
}
