<div *ngIf="contact" class="contact-details" >
    <!-- <img src="../../../assets/img/contact.png" class="contact-img" > -->
    <img src="https://robohash.org/{{contact.name}}" class="contact-img" >
    
    <p>Name: {{contact.name}}</p>
    <p>Email: {{contact.email}}</p>
    <p>Phone: {{contact.phone}}</p>
    
    <button [routerLink]="['/edit',contact._id]">Edit</button>
    <button [routerLink]="['/contacts']">Back</button>

    <section class="contact-details-transfer">
        <input type="number" [(ngModel)]=amount placeholder="Amount to transfer">
        <button (click)="onTransfer()">Transfer</button>
    </section>

</div>