.signup-page{
    input{
        border: none;
        padding: 8px;
        background-color: rgb(228, 228, 228);
        width: 300px;
        outline: none;

    }
    button{
        border: none;
        padding: 8px;
        // margin: 10px;
        outline: none;
        background-color: rgb(155, 155, 155);
        width: 70px;
    
        &:hover{
            cursor: pointer;
            color: white;
        }

    }

    h1{
        color: white;
    }
}