.app-header{
    background-color:inherit;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(182, 182, 182);
    h1{
        color: white;
        font-size: 25px;
    }
    ul{
        display: flex;
        li{
            margin-right: 25px;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                color: white;
                text-decoration: none;
                font-size: 25px;
            }
            .active-nav{
                color: rgb(196, 196, 196);
            }
        }
    }
}
