.contact-preview {
  display: flex;
  width: 20vw;
  // width: 100%;
  margin: 0;
  margin-right: 20px;
  padding: 7px;
  background-color: #b1b1b1;
  border-radius: 50px;
  outline: none;
  margin-bottom: 10px;
  cursor: pointer;

  .contact-img {
    img{
      margin-right: 15px;
      margin-left: 15px;
      width: 50px;
      height: 50px;
    }
  }
}

@media (max-width: 500px) {
  .contact-preview {
    width: 95%;
  }
}
